
/* to show that we have an actual nav bar - clearer -- find another colour for nav bar */
.nav-bar > ul{
    background-color: transparent;
    height: 70px;
    display: flex;
    align-items: center;

}
/* add logo to the nav bar */

.nar-ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    gap: 40px;
    padding-right: 50px;
    padding-left: 50px;
    box-sizing: border-box;

}


nav > ul > li > a{
    color: white;
    text-decoration: none;
    background-color: red;
    padding: 16px;
    font-size: 16px;
    /* font-family: 'Red Hat Mono', monospace; */
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 10%;
}

nav > ul > li > a:hover {
    color: red;
    background-color: black;
    border: solid; 
    border-radius: 10%;
    padding: 20px;
    font-size: medium;

}
/* Drop down menu layout for Account */

.dropbtn {
    background-color: red;
    color: white;
    padding: 16px;
    font-size: 16px;
    /* font-family: 'Red Hat Mono', monospace; */
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 10%;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: rgb(183, 183, 183);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    /* font-family: 'Red Hat Mono', monospace; */
    font-weight: 600;
}

.dropdown-content a:hover {background-color: red; color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {color: red; background-color: black; border: solid; border-radius: 10%; padding: 20px;}

/* @media all and(max-width:768px){
    nav .burger{
        display: block;
    }
} */


/*Mani*/
.homeScreen {
    background: rgb(237,241,245);
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 50px;
    z-index: 1;

    /* Animations */
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav-contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.nav-black {
    background-color: rgb(237,241,245);
}

.nav-logo {
    position: fixed;
    padding-top: 16px;
    left:10%;
    width:80px;
    height: 30px;
    object-fit: contain;
    cursor: pointer;
}

.nav-avatar {
    position: fixed;
    right: 30px;
    width:30px;
    height: 30px;
    cursor: pointer;
}
.nav-drawer{
    display: flex;
    min-width: 10%;
    justify-content: center;
}