.watch-list-header {
    padding-top: 100px;
}


.watchListContainer{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    margin:auto;
    padding-top: 50px;

}