/* welcomeback part */


.account-container{
    background-repeat: no-repeat;
    background-position-x:90%;
    background-position-y: 20%;
}

.welcomeback-title{

    padding-top:50px;

    margin-left:100px;
    margin-right:100px;
    background-color:transparent;
    color:rgb(34, 34, 34);
    font-weight:900;
    font-size:30px;

    background-repeat: no-repeat;
    background-position-x:90%;
    background-position-y: 0%;
}

.welcome-back-div{
    list-style-type:none;
    display: flex;
    justify-content: left;
    padding-left: 0;
}

.user-name{
    color:#81e2a8;
    background-color:#816AFE;
    border-radius:5px;
}