/* .content-signin {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
} */

@media only screen and (max-width: 600px) {
    .content-signin {
        width: 100%;
    }
  }

/* .form-border {
    padding: 2% 8% 8%;
    border: 2px solid black;
    background-color: rgba(0,0,0,.88); 
} */

@media only screen and (max-width: 740px) {
    .form-border {
        height: 100vh;
        width: 82%;
        overflow: hidden;
        display: block;
        text-align: center;
        padding: 8%;
        background-color: rgba(0,0,0,1);
    }
  }

  /* .header-signin {
    font-size: 50px;
  text-align: center;
} */
@media only screen and (max-width: 600px) {
    .header-signin{
        font-size: 50px;
    }
  }


  /* ----------- Sign Up page css ------------ */

  .sign-up-container{
    display: flex;
    justify-content: center;
    background-color:white;
    padding-bottom: 200px;
    font-family: 'Red Hat Mono', monospace;
    color:white;
  }

  .sign-up-form{
    background-color:black;
    margin-top:100px;
    min-height: 500px;
    width:460px;
    border: solid black 8px;
    border-radius:10px;
    padding-left: 50px;
    padding-right: 50px;
}

.sign-up-title{
  text-align: center;
  color: white;
  font-family: 'Red Hat Mono', monospace;
}

.login-title{
  margin-top: 40px;
}
/* -------- the little icons --------- */

.other-sign-up{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.other-sign-up > ul {
    
  margin-top:0;
  margin-bottom:20px;
  list-style: none;
  display: flex;
  flex-direction: row;
  
  position: relative;
  right:3%;
}

.other-sign-up > ul > li {
  display: flex;
  margin-right:20px;
  margin-left:0;
}

/* -------- add the different icons here ------------ */


/* -------------------------------------------------- */


/* The line around the OR */
.or-line{
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid white; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
}

.or-line > span {
  color:white;
  font-weight: 600;
  background:black;
  padding: 0 10px;
  font-family: 'Red Hat Mono', monospace;
}

/* The input boxes */
.sign-up-input-title{
  font-family: 'Red Hat Mono', monospace;
  color: white;
  margin-bottom: 5px;
  margin-top: 20px;
}

.sign-up-input-box{
  border-style: solid;
  padding: 10px;
  height:25px;
  width: 330px;
  border-radius: 5px;
  border-color: rgb(167, 167, 167);
  border-width: 1px;
  margin-bottom: 0;
}

/* terms tick box */
.sign-up-terms-box{
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
}

/* The button */

.sign-up-btn{
  margin-top:10px;
  margin-bottom: 20px;
  height: 40px;
  width: 250px;

  text-align: center;
  position: static;
  left: 14%;

  border-radius: 20px;
  border-style: solid;
  border-color:red;
  background-color:red;
  color: white;
  font-size: 18px;
}

.sign-up-btn:hover{
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.link-text-tag{
  color: white;
}

.link-a-tag{
  color: white;
}

/*  ------- img background ----------- */

.sign-up-container{
  background-image: url(https://i.redd.it/c3uhsgo1vx541.jpg);
}