.homeScreen{
    background-color: white;
}

.selectedGenre{
    margin: 7rem 0 5rem 0;
}

.genre-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid rgb(156, 156, 156);
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 1rem;
}

.genre-container h2{
    margin:1rem;
    

}


.genre-lists{
    display: flex;
}

.genreButton{
    display: flex;
    
    background-color: red;
    border: none;
    color: white;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9rem;
    margin: 0.5rem 0.5rem;
    border-radius: 0.35rem;
    box-shadow: 0 0 5px 2px #12121685;

}

.genreButton:hover{
    cursor: pointer;
    box-shadow: 0 0 15px 6px #12121685;


}