.story-card-main {
    margin: 0 auto;
    height: 70vh;
}

.story-card {
    position: relative;
    border-bottom: 8px solid #222;
    margin-bottom: 0;
    background: 0 0;
    color: #fff;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.story-card-background{
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.story-card .story-card-background .vid-wrapper {
    bottom: 0;
}

.story-card .vid-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.story-card .vid-wrapper {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: none;
}


.vid-wrapper {
    position: absolute;
}


.story-card-background {
    z-index: 0;
    position: absolute;
    top: -70px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.story-card .vid-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
}


.vid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.story-card .card-text {
    position: relative;
    width: 100%;
    padding: 75px 0;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
}

.card-text{
    width: 100%;
    height: 80%;
}

.text-container {
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.header {
    font-size: 60px;
  text-align: center;
  font-family: 'Lobster', cursive;
}
@media only screen and (max-width: 600px) {
    .header {
        font-size: 50px;
    }
  }




.header-text{
    Width: clamp(45ch, 50%, 75ch);
text-align: center;
font-size: 18px;

}