.container-dynamic{
    width: 100%;
    height: 100vh;

}

.banner-dynamic {
    position: relative;
    color: white;
    object-fit: fill;
    height: 350px;
}   

.banner-dynamic img{
    height: 100%;
    width: 100%;
}

.content-dynamic {
    max-width: 100%;
    height: 100%;
    background-color: rgb(237,241,245);
    padding: 5% 15%;
    display: flex;
  
}

.content-left-dynamic img {
   
    height: 380px;
    width: 250px;
    padding-bottom: 10px;

}

.content-left-dynamic p{
    padding-bottom: 5px;
    
}

.content-left-dynamic button{
   cursor: pointer;
    
}

.content-right-dynamic {
    padding-left: 5%;
}

.content-right-dynamic h1{
    padding-bottom: 15px;
}

.content-right-dynamic p {
    text-align: justify;
  text-justify: inter-word;
}